{% load static %}
<!-- Hero Area Start -->
<div id="hero-area" class="hero-area-bg">
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <div class="contents">
        <h2 class="head-title">Átomo Soluções <br>Mantendo sua empresa conectada com o futuro!</h2>
        <p>Automação comercial é a aplicação de métodos e ferramentas para automatizar processos comerciais, isto é, agilizar processos manuais, alcançando total eficiência. Isso se deve à facilidade com a qual softwares de automação comercial conseguem coletar e gerar dados, facilitando a análise da operação como um todo.</p>
        <div class="header-button">
          <a href="#" class="btn btn-common">Saiba mais</i></a>
          <a href="#" class="btn btn-border video-popup">Contato</i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="intro-img">
        <img class="img-fluid" src="assets/img/intro-mobile.png" alt="">
      </div>
    </div>
  </div>
</div>
</div>
<!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->